<html>

<head>
        <title>"DESIGNAR PREMIO</title>
        <link rel="stylesheet" href="../Styles/DESIGNAR PREMIO.CSS">
        <div class="container_img">
               
        </div>

        <div class="boton-flecha">
                <!-- Botón de regreso -->
                <button onclick="history.back()">&larr; Regresar</button>
                
                <!-- Botón de continuar -->
                <button onclick="alert('¡Continuar!')">Continuar &rarr;</button>
              </div>

        <div class="container" >
            
                <img src="../assets/Designar premio.jpg"  class="imagen">
                <h2 style="color: black;" class="textos">DESIGNAR PREMIOS</h2>
                
<input type="text" name="usuario" placeholder="Nombre de usuario"style="height: 40px; width:240px ;background-color: blue" class="my-inputplaceholder" />
                <input type="number" id="documento" name="documento" placeholder="Documento" required 
                style= "height: 40px; width:240px ;background-color: blue" class= "my-inputplaceholder">
        </div>

        <div class="container">

                <ul>
                        <li><input type="checkbox"  style="align-items: center;" ><label for=""class="listas">1 hora de videojuegos</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">$2.000</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">$5.000</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">$10.000</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Una hora de tv</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Un Juguete</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Un dulce</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Una salida</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Un paseo</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Una Pelicula con Crispetas</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Dia libre</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Un stiker</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">50 puntos</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Un helado</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Escoge tu premio</label></ul></li>
                </ul>
         
                <button type="submit"style="background-color: blue" class="myinput">Asignar</button>
                
                <img src="../assets/DIVERTAREAS.jpg" class="imagenfinal">
            </div>

        

</head>

<body>

