<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>DiverPasatiempo</title>
  <link rel="stylesheet" href="../Styles/diverpasatiempo.css">
</head>
<body>
  <h1>¡Hora de divertirse aprendiendo!</h1>
  <p>Haz clic en el botón para ir a juegos educativos infantiles:</p>
  
  <button id="btnJuegos1">1. Ir a Minijuegos</button>
  <button id="btnJuego2">2. Ir a Cokitos</button>

<!-- Botón de regreso -->
  <button id="btnRegresar">← Regresar al menú</button>

  <!-- JavaScript -->
    <script type="module" src="../Controllers/diverpasatiempo.js"></script>
</body>
</html>
