<html>

<head>
        <title>"DIVERTAREAS</title>
        <link rel="stylesheet" href="../Styles/DIVERTAREAS.CSS">
        <div class="container_img">
               
        </div>

        
        <div class="container" >
                <img src="../assets/DIVERTAREAS.jpg" width="300px" height="200px" style="margin-left: -30px;">
                
<input type="text" name="usuario" placeholder="Nombre de usuario"style="height: 30px; width:240px ;background-color: blue" class="my-inputplaceholder" />
                <input type="number" id="documento" name="documento" placeholder="Documento" required 
                style= "height: 30px; width:240px ;background-color: blue" class= "my-inputplaceholder">
        </div>

        <div class="container">

                <ul>
                        <li><input type="checkbox"  style="align-items: center;" ><label for=""class="listas">Tender cama</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Aseo personal</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Tareas del colegio</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Lavar la loza</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Regar las plantas</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Hacer ejercicio</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Recoger juguetes</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Ordenar el cuarto</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Barrer</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Trapear</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Lavar los baños</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Pasear la mascota</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Leer un libro</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Organizar utiles escolares</label></li>
                        <li><input type="checkbox"  style="align-items: center;"><label for=""class="listas">Doblar la ropa</label></ul></li>
                </ul>
         
                <button type="submit"style="background-color: blue" class="myinput">Asignar</button>
            </div>

        

</head>

<body>
