<!DOCTYPE html>
<html>
 
<head>
  <meta charset="UFT-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../Styles/style.css">
  <title> DIVERFAMYLY</title>
</head>
 
<body>
  <div class="img">
  <main  id="identificador">
    <button class="container" type="button"><img src="../assets/descarga.png" width="65" /><br/> Divertareas </button>
        <button  class="container" type="button"><img src="../assets/diverdinero.jpeg" width="60" /><br/> Recursos </button>
            <button class="container" type="button"><img src="../assets/pasatiempos.png" width="60" /><br/> Diverpasatiempo </button>
        <h1 style="color: blue"> BIENVENIDOS A </h1>
      
        <div class="container">
       <img src="../assets/diverfamilylider.jpg" width="300" /> 
      </div>
          <h2 style="color: rgb(195, 0, 255)"> PORQUE ES DIVERTIDO VIVIR EN FAMILIA.</h2>
          <button class="container" type="button"><img src="../assets/Diverayuda.webp" width="65" /><br/>Diverayuda </button>
            <button class="container" type="button"><img src="../assets/divervigilancia.jpg" width="65" /><br/> divervigilancia</button>
                <button class="container" type="button"><img src="../assets/cronometro.jpg" width="65" /><br/> Divercronometro</button>
                <button class="container" type="button"><img src="../assets/DIVERPREMIOS.avif" width="65" /><br/> Diverpremios</button>
              </div>
                </main>
 
 
 
</body>
 
</html>
