<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cronómetro con Puntos</title>
    <link rel="stylesheet" href="../Styles/DIVERCRONOMETRO.CSS">
 </head>

<body>
    <h1>Cronómetro</h1>
    <div id="display">00:00:00</div>
    <br />
    <label for="inputMinutes">Alarma (minutos):</label>
<input type="number" id="inputMinutes" class="input-alarma">
<button id="setTime">Programar</button>
    <button id="start">Iniciar</button>
    <button id="stop">Detener</button>
    <button id="reset">Reiniciar</button>
    </div>
    <script src="../Controllers/DIVERCRONOMETRO.JS"></script>
    
</body>

</html>