<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIVERTAREAS</title>
    <link rel="stylesheet" href="../Styles/DIVERTAREAS.CSS">
    <div class="container_img">

    </div>


    <div class="container" >
        <img src="../assets/DIVERTAREAS.jpg" width="300px" height="200px" style="margin-left: -30px;">

        <input type="text" name="usuario" placeholder="Nombre de usuario" style="height: 30px; width:240px ;background-color: blue" class="my-inputplaceholder" />
        <input type="number" id="documento" name="documento" placeholder="Documento" required
               style= "height: 30px; width:240px ;background-color: blue" class= "my-inputplaceholder">
    </div>

    <div class="container">

        <ul>
                                    <li><input type="checkbox" id="tenderCama" style="align-items: center;" ><label for="tenderCama" class="listas">Tender cama</label></li>
                                    <li><input type="checkbox" id="aseoPersonal" style="align-items: center;"><label for="aseoPersonal" class="listas">Aseo personal</label></li>
                                    <li><input type="checkbox" id="tareasColegio" style="align-items: center;"><label for="tareasColegio" class="listas">Tareas del colegio</label></li>
                                    <li><input type="checkbox" id="lavarLoza" style="align-items: center;"><label for="lavarLoza" class="listas">Lavar la loza</label></li>
                                    <li><input type="checkbox" id="regarPlantas" style="align-items: center;"><label for="regarPlantas" class="listas">Regar las plantas</label></li>
                                    <li><input type="checkbox" id="hacerEjercicio" style="align-items: center;"><label for="hacerEjercicio" class="listas">Hacer ejercicio</label></li>
                                    <li><input type="checkbox" id="recogerJuguetes" style="align-items: center;"><label for="recogerJuguetes" class="listas">Recoger juguetes</label></li>
                                    <li><input type="checkbox" id="ordenarCuarto" style="align-items: center;"><label for="ordenarCuarto" class="listas">Ordenar el cuarto</label></li>
                                    <li><input type="checkbox" id="barrer" style="align-items: center;"><label for="barrer" class="listas">Barrer</label></li>
                                    <li><input type="checkbox" id="trapear" style="align-items: center;"><label for="trapear" class="listas">Trapear</label></li>
                                    <li><input type="checkbox" id="lavarBanos" style="align-items: center;"><label for="lavarBanos" class="listas">Lavar los baños</label></li>
                                    <li><input type="checkbox" id="pasearMascota" style="align-items: center;"><label for="pasearMascota" class="listas">Pasear la mascota</label></li>
                                    <li><input type="checkbox" id="leerLibro" style="align-items: center;"><label for="leerLibro" class="listas">Leer un libro</label></li>
                                    <li><input type="checkbox" id="organizarUtiles" style="align-items: center;"><label for="organizarUtiles" class="listas">Organizar utiles escolares</label></li>
                                    <li><input type="checkbox" id="doblarRopa" style="align-items: center;"><label for="doblarRopa" class="listas">Doblar la ropa</label></ul></li>
        </ul>


                    <button type="submit" style="background-color: blue" class="myinput">Asignar</button>
                </div>


</head>

<body>
<script src="../Controllers/DIVERTAREAS.js"></script>
</body>
</html>
