<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>INGRESO DIVERFAMILY</title>
    <link rel="stylesheet" href="../Styles/INGRESO.CSS">
</head>
<body>

    <div class="container">
        <img src="../assets/INICIA SESION.jpg" width="300" height="170" alt="Inicio sesión">
        <h1>Ingresa para continuar</h1>

        <!-- Aquí se mostrará el mensaje de éxito si viene del registro -->
        <div id="mensajeExito" style="color: green; font-weight: bold;"></div>

        <h3 class="texto">NOMBRE:</h3>
        <input type="text" id="nombre" placeholder="Escribe tu nombre">

        <h3 class="texto">CONTRASEÑA:</h3>
        <input type="password" id="contrasena" placeholder="Escribe tu contraseña">
    </div>

    <div class="container button">
        <button id="iniciarSesionBtn">INICIA SESIÓN</button>
    </div>

    <!-- JavaScript -->
    <script type="module" src="../Controllers/INGRESO.js"></script>
</body>
</html>
