<!DOCTYPE html>
<html>

<head>
    <title>INGRESO DIVERFAMILY</title>
    <link rel="stylesheet" href="../Styles/INGRESO.CSS">
</head>

<body>

    <div class="container">
        <img src="../assets/INICIA SESION.jpg"
        width="300" height="170">
        <h1>Ingresa para continuar</h1>  
        
        <h3 class="texto">NOMBRE:</h3>
        <input type="text"id="nombre" name="nombre"></input>

        <h3 class="texto">CONTRASEÑA</h5>
            <input type="password" id="contrasena" name="contrasena"></input>
        
    </div>
    <div class="container button">

        <button><a href="../Views/Diverfamily.html">INICIA SESION.</a></h3> </button>
        
        
    </div>
<script src="../Controllers/INGRESO.js"></script>
<!-- <script src="../Controllers/BASEDEDATOS.js" type="module"></script> -->
</body>

</html>
