<html>

<head>
        <title>"MIS PREMIOS</title>
        <link rel="stylesheet" href="../Styles/MIS PREMIOS.CSS">

</head>

<body>
        <div class="boton-flecha">
                <!-- Botón de regreso -->
                <button onclick="history.back()">&larr; Regresar</button>

                <!-- Botón de continuar -->
                <button onclick="alert('¡Continuar!')">Continuar &rarr;</button>
        </div>
        <div class="container">

                <img src="../assets/Designar premio.jpg" class="imagen">
                <h2 style="color: black;" class="textos">MIS PREMIOS</h2>
                <div class="saludo">

                        HOLA <span class="nombre"> DANIEL</span>!
                </div>

        </div>

        <div class="container">

                <ul>
                        <li><input type="checkbox" style="align-items: center;"><label for="" class="listas">1 hora de
                                        videojuegos</label></li>
                        <li><input type="checkbox" style="align-items: center;"><label for=""
                                        class="listas">$2.000</label></li>
                        <li><input type="checkbox" style="align-items: center;"><label for=""
                                        class="listas">$5.000</label></li>
                        <li><input type="checkbox" style="align-items: center;"><label for=""
                                        class="listas">$10.000</label></li>
                        <li><input type="checkbox" style="align-items: center;"><label for="" class="listas">Una hora de
                                        tv</label></li>

                </ul>

                <button type="submit" style="background-color: blue" class="myinput">RECLAMAR</button>

                <img src="../assets/DIVERTAREAS.jpg" class="imagenfinal">
        </div>



        </head>

        <body>