<!DOCTYPE html>
<html>

<head>
    <title>REGISTRO INTEGRANTES DIVERFAMILY</title>
    <link rel="stylesheet" href="../Styles/INTEGRANTES.CSS">
</head>

<body>



    <div class="container">
        <img src="../assets/diverfamilyintegrante.jpg"
        width="300" height="200">
        <h3 class="texto">NOMBRE:</h3>
        <input type="text"></input>

        <h5 class="texto">CONTRASEÑA</h5>
            <input type="password"></input>

            <h3 class="texto">ROL DEL INTEGRANTE</h3>
            <select>
                <option>Lider</option>
                <option>Integrante de la familia</option>
            </select>
    </div>
    <div class="container button">

        <button>NUEVO INTEGRANTE</button>
    </div>



<script src="../Controllers/R_INTEGRANTES.js"></script>
<script src="../Controllers/BASEDEDATOS.js" type="module"></script>
</body>

</html>