<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>REGISTRO INTEGRANTES DIVERFAMILY</title>
    <link rel="stylesheet" href="../Styles/INTEGRANTES.CSS">
</head>

<body>
    <div class="container">
        <img src="../assets/diverfamilyintegrante.jpg" width="300" height="200">

        <h3 class="texto">NOMBRE:</h3>
        <input type="text" id="nombre" />

        <h3 class="texto">CONTRASEÑA</h3>
        <input type="password" id="contrasena" />

        <h3 class="texto">ROL DEL INTEGRANTE</h3>
        <select id="rol">
            <option value="Lider">Líder</option>
            <option value="Integrante de la familia">Integrante de la familia</option>
        </select>
    </div>

    <div class="container button">
        <button id="registrarIntegranteBtn">REGISTRAR INTEGRANTE</button>
        <div id="mensajeExito" style="display: none; color: green; font-weight: bold; margin-top: 10px;">
             ✅ Integrante registrado exitosamente
    </div>
</div>

    <div class="container">
        <button id="actualizarListadoBtn">NUEVO INTEGRANTE</button>
        <button id="mostrarIntegrantesBtn">MOSTRAR INTEGRANTES REGISTRADOS</button>
        <textarea id="listadoIntegrantes" rows="10" cols="50" readonly style="display: none;"></textarea>

    </div>


    <div class="container">
        <button id="continuarBtn">CONTINUAR</button> <!-- 👈 este botón redirige -->
    </div>

    <!-- Scripts -->
    <script src="../Controllers/BASEDEDATOS.js" type="module"></script>
    <script src="../Controllers/R_INTEGRANTES.js" type="module"></script>
</body>

</html>