body
{
background-color:rgba(252, 130, 49, 0.884) ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-weight: 100%;
font-style: normal;
align-items: center;
font-size: 100%;
color: white;
}

.centrar {
text-align: center;
font-style: b;
margin: 0 auto;
font-size: 120%

}

.centrartexto {
text-align: center;
font-style: italic ; 
width:"300";

}

.container_img {
width: 320px;
margin-left: 790;
margin-right: auto;
}

.container {
    width: 315px;
    margin: auto;
    padding: auto; 
    
    
    }

    .my-element {
        width: 200px;
        height: 100px;
     }

.img {
text-align: justify;

}


.margen {
margin: 60px auto;

}


input,
select,
textarea {
width: 90%;
padding: 10px;
border: 1px solid black;
border-color: black;
box-sizing: border-box;
text-align: center;
margin: auto;
background-color: rgb(68, 127, 204);

}

button {
    margin-top: 15px;
width: 50%;
padding: 10px;
background-color: rgba(81, 188, 250, 0.733);
color: black;
border-color: black;
margin: 60px;
border-radius: 10px;
cursor: pointer;



}