body {
  background-color:#fff3e0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-thumbnail {
  width: 100px;
  height: auto;
}

.form-check-input {
  transform: scale(1.5);
}

.tarea-row {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

#puntos {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

#animacionTesoro {
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  z-index: 9999;
}

#animacionTesoro img {
  width: 300px;
}

.titulo {
  font-size: 30px;
  color: black;
}
